.footer {
  padding-bottom: 2rem;
  ul {
    list-style: none;
    li {
      margin: 1rem 0;
      font-size: 14px;
    }
  }
  .MuiGrid-container {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #000;
  }
  &__footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      h3 {
        margin-right: 1rem;
        font-weight: 700;
      }
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      li {
        margin: 0 0.5rem;
      }
    }
  }
}

@media (max-width: 900px) {
  .feature__content p {
    font-size: 20px;
    font-weight: 600;
  }
  .feature .grid__content h3 {
    font-size: 30px;
    font-weight: 700;
  }
  .feature .grid__content p {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .footer {
    &__grid {
      text-align: center;
    }
    &__footer {
      h3 {
        font-size: 1.2rem;
      }
      span {
        font-size: 14px;
      }
      grid-template-columns: 1fr;
    }
  }
}
